dist
node_modules
.DS_Store
*.log
.nx
.vscode
packages/core-experimental/coverage/*
apps/models-research/src/tree/__tests__/__screenshots__/*
packages/react/src/__tests__/examples/__screenshots__/*
coverage/base.css
coverage/block-navigation.js
coverage/coverage-final.json
coverage/favicon.png
coverage/index.html
coverage/prettify.css
coverage/prettify.js
coverage/sort-arrow-sprite.png
coverage/sorter.js
coverage/src/index.css.html
coverage/src/index.html
coverage/src/main.tsx.html
coverage/src/types.ts.html
coverage/src/vite-env.d.ts.html
coverage/src/data/index.html
coverage/src/data/restaurants.ts.html
coverage/src/data/dodo/cocktails.json.html
coverage/src/data/dodo/coffee.json.html
coverage/src/data/dodo/drinks.json.html
coverage/src/data/dodo/index.html
coverage/src/data/dodo/pizzas.json.html
coverage/src/data/dodo/sauces.json.html
coverage/src/data/dodo/snacks.json.html
coverage/src/data/kfc/buckets.json.html
coverage/src/data/kfc/burgers.json.html
coverage/src/data/kfc/drinks.json.html
coverage/src/data/kfc/index.html
coverage/src/data/kfc/sauces.json.html
coverage/src/data/kfc/snacks.json.html
coverage/src/data/kfc/twisters.json.html
coverage/src/models/app.ts.html
coverage/src/models/cart.ts.html
coverage/src/models/index.html
coverage/src/models/traits.ts.html
coverage/src/models/products/bucket.ts.html
coverage/src/models/products/burger.ts.html
coverage/src/models/products/cocktail.ts.html
coverage/src/models/products/coffee.ts.html
coverage/src/models/products/drink.ts.html
coverage/src/models/products/index.html
coverage/src/models/products/pizza.ts.html
coverage/src/models/products/sauce.ts.html
coverage/src/models/products/snack.ts.html
coverage/src/models/products/twister.ts.html
coverage/src/view/AppContext.tsx.html
coverage/src/view/AppView.tsx.html
coverage/src/view/CartScreen.tsx.html
coverage/src/view/CheckoutScreen.tsx.html
coverage/src/view/GlobalCartScreen.tsx.html
coverage/src/view/hooks.ts.html
coverage/src/view/index.html
coverage/src/view/ProductScreen.tsx.html
coverage/src/view/Restaurant.tsx.html
coverage/src/view/RestaurantScreen.tsx.html
coverage/src/view/components/CartItem.tsx.html
coverage/src/view/components/Common.tsx.html
coverage/src/view/components/index.html
coverage/src/view/components/ProductView.tsx.html
.roomodes
